#!/usr/bin/make -f

GITHUB_WORKSPACE ?= $(shell git rev-parse --show-toplevel)
NETLIFY_PREFIX ?= /opt/ts
MAKE_DIRECTORY := $(dir $(realpath $(firstword $(MAKEFILE_LIST))))

include ${MAKE_DIRECTORY}/diagnostics.mk
include ${MAKE_DIRECTORY}/profiles.mk

export DEB_CXXFLAGS_MAINT_PREPEND = -std=c++17 -Dmy_bool=int
export DEB_CXXFLAGS_MAINT_APPEND = $(diagnostics) $(profiles)
# Currently 7.1.x cannot correctly link without it
#export DEB_LDFLAGS_MAINT_APPEND = -fuse-ld=lld

export DEB_BUILD_OPTIONS += nocheck
export DEB_VENDOR = Netlify
export DH_VERBOSE = 1

%:
	dh $@ --with autoreconf

execute_after_dh_fixperms:
	chown -R nobody:nogroup debian/netlify-trafficserver/${NETLIFY_PREFIX}/var/log/trafficserver

override_dh_auto_configure:
	dh_auto_configure -- \
		--config-cache \
		--prefix=${NETLIFY_PREFIX} \
		--sysconfdir=\$${prefix}/etc/trafficserver \
		--libexecdir=\$${prefix}/libexec/trafficserver \
		--libdir=\$${prefix}/lib \
		--enable-layout=Debian \
		--enable-wccp \
		$(if $(filter debug,$(DEB_BUILD_PROFILES)),--enable-debug) \
		--disable-silent-rules

override_dh_auto_build:
	$(MAKE) -j

override_dh_auto_install:
	dh_auto_install -- INSTALLDIRS=vendor

override_dh_builddeb:
	dh_builddeb --destdir=${GITHUB_WORKSPACE}

# Skip installexamples
override_dh_installexamples:
